.iluminacion {
    background-color: #fefefe;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    transition:background-color 300ms ease-in-out ;
}

.path2 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vh;
    clip-path: polygon(100% 0%, 0% 0%, 0% 50%, 100% 100%);
    background-color: #3aafa9;
    transition:background-color 300ms ease-in-out ;
}
.iluminacion_svg
{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iluminacion_svg object
{
    position: absolute;
    bottom: 0;
}
.iluminacion_svg object:nth-child(1)
{
    height: 60%;
}
.iluminacion_svg object:nth-child(2)
{
    height: 80%;
    right: 20%;
    transform: rotate(180deg);
}
.iluminacion_texto
{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 3vh;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}
/**/
.conteinerCards
{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card
{
    width: 31%;
    height: 40vh;   
    border-radius: 20px;
    border-top-left-radius: 70px;
    overflow: hidden;
    border: solid 10px;
    border-color: var(--clr);
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}
.boxIcon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 30%;
    border-bottom-right-radius:60px ;
    transition: width 500ms ease-in-out;
    background-color:var(--clr);
}
.boxIcon::before
{
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.boxIcon::after
{
    content: "";
    position: absolute;
    bottom: -30px;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-top-left-radius: 30px;
    box-shadow: -5px -5px 0 5px var(--clr);
}
.icon
{
    position: absolute;
    inset: 10px;
    background-color: rgb(66, 66, 66);
    border-radius: 50%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0px 0px 10px #fff;
    font-size: 5vh;
}
.iconText
{
    width: 90%;
    height: 65%;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
}
/**/
