.sliderButton
{
    z-index: 100;
    position: fixed;
    width: 4vh;
    height: 4vh;
    border: solid 1px #000;
    top: 1vh;
    left: 1vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.line
{
    width: 80%;
    height: 10%;
    background-color: #000;
}
.line 
{
    transition: transform 300ms ease-in-out;
}
.change .luno
{
    transform: translate(0, 310%) rotate(-45deg);
}
.change .ldos {opacity: 0;}
.change .ltres 
{
    transform: translate(0, -350%) rotate(45deg);
}
/**/
.sliderPanel
{
    z-index: 99;
    position: fixed;
    top: 0;
    left:- 100vw;
    width: 100%;
    height: 100vh;
    background-color: rgba(66, 66, 66, .5);
    backdrop-filter: blur(15px);
    transition: left 300ms ease-in-out;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 6vw;
    font-family: 'Poppins', sans-serif;
}
.sliderPanel li
{
    margin: 2vh 0;
}
.sliderPanel .menuItem
{
    color: #fff;
    border-color: #fff;
}